body{
   height: 90%;
        background-attachment: fixed;
       
        background-size: cover;
        background-blend-mode: lighten;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                  url("https://cdn.hipwallpaper.com/i/84/38/Q3SGAY.jpg")
      }
      img {
        opacity: 0.2;
      }
  h1{
      position: relative;
      font-style: oblique;
      font-family: fantasy;
  }

  .container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;    
letter-spacing:2px;
font-weight: 600; 
font-style: italic,bold;
text-shadow: black;
font-size: 200%;
  }

