body{
  height: 30%;
  background: url("https://cdn.hipwallpaper.com/i/69/95/VsQRz6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.logo-division {
    display: inline-block;
    height: 9rem;
    z-index: 1;
  }
  .atria-logo {
    width: 11%;
    margin-left: 1.5rem;
    margin-top: 0.2rem;
  }
  .kscst-logo {
    width: 40%;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }
  .code-logo {
    width: 15%;
    margin-left: 4rem;
  }
  .cse-logo {
    width: 11%;
    margin-left: 2rem;
  }


  
  .Circle-Logo  {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  
  .activity2{
    position: absolute;
    bottom: 70%;
    right: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans';
    color:white;    
text-shadow: 5px 0 black;
letter-spacing:4px;
font-weight: 600; 
  }

  
  

  h1{
    text-align: center;
    font-style: bold;
    color:yellow;
     font-weight :100;
     text-shadow:white;
     letter-spacing: inherit;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     height: 10px;
  }
   
  h2{
    text-align: center;
    font-style: initial;
    color:red;
     font-weight :200;
     text-shadow: black;
     letter-spacing: inherit;
     font-family:"Anton", sans-serif;
     height: 10px;
     font-size: 7.5rem;
  }



  h3{
    text-align: center;
    font-style: initial;
    color:whitesmoke;
     font-weight :80;
     text-shadow: black;
     letter-spacing: inherit;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     height: 10px;
  }


  


p{
  text-align: left;
  font-style: italic;
  color:whitesmoke;
   font-weight :1000;
   text-shadow: black;
   height: 20px;
   font-size: 230%;
}

p1{
  text-align: center;
  font-style: italic;
  color:white;
   font: weight 20;
   text-shadow: black;
   height: 100px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 200%;
  }

  a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }


    .register {
      margin-top:1rem;
      margin-bottom: 3rem;
      font-family: serif;
     padding:5rem;
      font-size: 2rem;
      margin-left: 200px;
      border-radius: 50%; 
      width: 400px;
      height:200px;
    }
    
    .register:hover {
      background-color:rgb(172, 79, 17);
    }
  

  @media screen and(max-width: 780px) {
    .register {
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-family: serif;
      padding: 2.5rem 7rem 2.5rem 7rem;
      font-size: 2rem;
    }
    
    .register:hover {
      background-color: #ffc85c;
    }
    
   
  }
 

  
  


 


   
